.dialog-footer button:first-child {
  margin-right: 10px;
}
.dialog-settings {
  .el-dialog__body {
    max-height: 600px;
    overflow: auto;
  }
}
.dialog-settings-none {
  .el-dialog__body {
    scrollbar-width: none;
    text-align: center;
  }
}
.el-dialog .el-dialog__header {
  // border-bottom: unset;
  margin-bottom: 18px;
}
.el-dropdown {
  margin-left: 12px;
  vertical-align: sub;
}
.cardHeight {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}
